<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <h3>Wrong details Provided.</h3>
    <p>Members should be 1 to 10.</p>
    <p>Mobile number is of 10 digits and not start with "0".</p>
    <p>Email should be correct that contains "@".</p>
</body>
</html>